## Integral Data Types

int
float
bool
complex
none
string

In [25]:
a=10
a

10

Key words

Keywords are predefined words

In [26]:
!python --version

Python 3.8.5

In [27]:
import keyword
kwlist=keyword.kwlist
len(kwlist)

35

**Type Casting**
Python

int()
float()
bool()
bool()
str()

In [28]:
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

**Identifiers**
An identifier is a name given to entities like class, function, variables,etc...
Rules for naming an Identifier

* a-z
* A-Z
* 0-9, Should not start with a number
* Except'_' no other special characters are allowed, preferrably dont start with'_'
* cannot use kehywords

In [29]:
this_is_a_variable=10

In [30]:
THIS_IS_A_VAR=20

**Object References**

In [31]:
x=10
y=x
x,y

(10, 10)

In [32]:
id(x),id(y)

(9785184, 9785184)

In [33]:
z=5+5
z

10

In [34]:
y=y+z
y

20

In [35]:
id(x),id(y),id(z)

(9785184, 9785504, 9785184)

**OPERATORS**
+ Addition
- Subtraction
* Multiplication
/ Division
** power  
% Modulus (Remainder)
// Floor Division(Division+Floor)

**#Assignment Operators**

=
+=
-=
*=
/=
**=
%=
//=

**Relational Operators**

(<)   Less Than
(>)   Grater Than
(<=)  Less Than Equals
(>=)  Greater Than Equals
(==)  Equals
(!=)  Not Equals Outcome of relational operators are always boolean

In [36]:
10< 10.5

True

In [37]:
100<90

False

In [38]:
'ab'=='ab'

True

In [39]:
a='ab'
'ab'==a

True

In [40]:
a=100
a<True

False

**Logical Operators**

*   and------It checks until 0 is found
*   or-------It checks Non Zero value and evaluate their itself
*   not------It will give exact opposite value

In [41]:
a=10
b=20
c=40
d=0

In [42]:
(a<b)and(b<c)

True

In [43]:
a and d

0

In [44]:
a and b and d

0

In [45]:
a or b or d

10

In [46]:
a or d and b

10

In [47]:
a or b and c not d

SyntaxError: invalid syntax (3366905530.py, line 1)

In [ ]:
not ""

True

**Bitwise Operators**

(~) ones complement
(&) bitwise and
(|)bitwise or
(^)bitwise exor
(<<)left shift------left shift is multiplication by 2^shifts
(>>)right shift------right shift is division by 2^shifts

The left and right shift operators always returns integers

In [ ]:
~5

-6

In [ ]:
5 and 6

6

In [ ]:
5 & 6

4

In [ ]:
4<<1

8

In [ ]:
16<<2

64

In [ ]:
8>>2

2

In [ ]:
'abd'<<2

TypeError: unsupported operand type(s) for <<: 'str' and 'int'

#

**Membership Operators**
    Objects present in iterable or not

*   in-----Checks weather object is present in list or not
*   not in---Checks weather object is not present in list or not

In [ ]:
"L" in "LTI"

True

In [ ]:
"T" not in "lti"

True

In [ ]:
for i in "LTI":
    print(i)

L
T
I

In [ ]:
[1,2] in [[1,2],3]

True

In [ ]:
[1,2] in [1,2,3]

False

In [ ]:
[1,2] not in [[1,2],3]

False

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Identity Operators**

*   is----It checks the **content** in the variable and along with ** address**
*   is not

In [50]:
a=10
b=10
a==b,a is b

(True, True)

In [51]:
id(a),id(b)

(9785184, 9785184)

In [17]:
l=[10,20,30]

In [22]:
id(a),id(l),id(l[0])

(9785184, 139835884881216, 9785184)

In [23]:
x=['cat','dog']
y=['cat','dog']

In [52]:
id(x),id(y)

(9785184, 9785504)

In [24]:
x == y, x is y

(True, False)

**Basic Input/Output**

**input()--accepts inputs from user**

NOTE: input() stores data by default in string foramt

In [53]:
a=input()

In [54]:
a

'10.55'

In [56]:
b=int(input())

In [57]:
b

47647

In [60]:
a= int(input("Enter the Number: "))
a

6567

In [59]:
a

5645

PRACTISE QUESTIONS

In [61]:
##take input from user and add them

num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
num1+num2

59.0

In [63]:
##write a program to find a radius of a circle

radius =float(input("Enter the radius: "))
r=3.14*radius**2
print("The area of the circle with radius ", radius," is ",r)

The area of the circle with radius  5.0  is  78.5

**print() - displays the output**

*   **print formattings**
        1.Place Holder
        2.f-string method

**1.Place holder()**

In [64]:
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
print("{} + {} = {}".format(num1,num2,num1+num2))

5.5 + 6.7 = 12.2

2. f-string method

    Supported in 3.6 onwords version

In [69]:
##Write a program 
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
print(f"{num1} + {num2} = {num1+num2}")

45.6 + 74.7 = 120.30000000000001

# STRINGS

    Anything written in single quote or double quote is a string

## Multi-line string

    Written in """ """

## String Operations

    1. Sting Concatination(+)
    2. String Replication(*)

In [70]:
10 + 20

30

In [71]:
'10'+'20'

'1020'

In [72]:
'Hello' + 'world'

'Helloworld'

In [75]:
"Hello Ganesh" * 5

'Hello GaneshHello GaneshHello GaneshHello GaneshHello Ganesh'

In [77]:
print("_"*100)

____________________________________________________________________________________________________

In [88]:
## WAP which accepts the users first and last name print them in reverse order with a space between them

first_name=input("Enter First name: ")
last_name=input("Enter Last name: ")
print(first_name+ ' ' +last_name)
print(f"{last_name+' '+first_name}")

Ganesh Kolipara
Kolipara Ganesh

In [86]:
## WAP that accepts an integer (n) and computes the value of n+nn+nnn

num=(input("Enter number: "))
n=int(num)+int(num*2)+int(num*3)
print(n)

615

# String Indexing

In [89]:
s="Guido Van Rossum"

In [90]:
s[0]

'G'

In [91]:
s[-1]

'm'

In [92]:
len(s)

16

In [93]:
s[1:5]

'uido'

In [94]:
s[5:10]

' Van '

In [95]:
s[:5]

'Guido'

In [96]:
s[5:]

' Van Rossum'

In [97]:
s[:]

'Guido Van Rossum'

In [98]:
s[: :]

'Guido Van Rossum'

In [101]:
s[::2]

'GioVnRsu'

In [102]:
s[::-2]

'mso a du'

In [104]:
## WAP to reverse the String
s[::-1]

'mussoR naV odiuG'

## upper, lower, casefold, swapcase

In [1]:
str="Hi Gk"

In [2]:
str.upper()

'HI GK'

In [3]:
str.lower()

'hi gk'

## split,rsplit

In [4]:
text="Mr. Guido van Rossum"

In [5]:
text.split(sep=" ")

['Mr.', 'Guido', 'van', 'Rossum']

In [6]:
numbers="1,569,478,456"

In [8]:
numbers.split(sep=",")

['1', '569', '478', '456']

In [9]:
text

'Mr. Guido van Rossum'

In [10]:
text.split(maxsplit=2)

['Mr.', 'Guido', 'van Rossum']

In [11]:
text.rsplit()

['Mr.', 'Guido', 'van', 'Rossum']

In [12]:
text.rsplit(maxsplit=2)

['Mr. Guido', 'van', 'Rossum']

In [14]:
text.split(maxsplit=2)

['Mr.', 'Guido', 'van Rossum']

## ljust, rjust center
    alginment of data

    left justification
    right justification
    center justification

In [15]:
text.ljust(50)

'Mr. Guido van Rossum                              '

In [16]:
text.rjust(50)

'                              Mr. Guido van Rossum'

In [17]:
text.center(50)

'               Mr. Guido van Rossum               '

## lstrip, rstrip, strip

    lstrip---It used to remove the matched data from left side
    rstrip---It used to remove the matched data from right side
    strip---It used to remove the matched data from both the sides

In [20]:
name='?????? ABC ? PVT Ltd ???????'

In [22]:
name.lstrip('?')

' ABC ? PVT Ltd ???????'

In [23]:
name.rstrip('?')

'?????? ABC ? PVT Ltd '

In [24]:
name.strip('?')

' ABC ? PVT Ltd '

In [25]:
s="wouxxoo.....exam.com.....xxxx"

In [26]:
s.strip('wo.x')

'uxxoo.....exam.com'

In [29]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## startswith, endswith

## find, rfind

## split, rsplit

## collection Datatypes

    *   List
    *   Tuple
    *   Set
    *   Directory

**LIST**

    *   created using []
    *   contains multiple data of different datatypes
    *   list indexing is same as string indexing
    *   list are mutable

In [30]:
num_list=[1,2,3,4]
num_list

[1, 2, 3, 4]

In [31]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## List Methods:

        insert()
        append()
        extend()--- the data at the end of list
        count()
        index()---pop the values by using indexs
        pop()---it will remove the last inserted value
        remove()
        sort()
        clear()

## Tuples
    *   created using ()
    *   Tuples indexing is same as string indexing
    *   Tuples are immutable

**operations**
    * concatination
    * Replication