In [1]:
print("Hi Ganesh")

Hi Ganesh

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.4.tar.gz (281.5 MB)
     |████████████████████████████████| 281.5 MB 25 kB/s                      | 798 kB 2.8 MB/s eta 0:01:40 | 2.0 MB 2.8 MB/s eta 0:01:39 | 7.2 MB 2.8 MB/s eta 0:01:38              | 11.6 MB 2.8 MB/s eta 0:01:36              | 13.7 MB 2.8 MB/s eta 0:01:35MB/s eta 0:01:351 MB 2.8 MB/s eta 0:01:337 MB 3.9 MB/s eta 0:01:061:0605��██▎                          | 46.9 MB 37.2 MB/s eta 0:00:07                   | 48.2 MB 37.2 MB/s eta 0:00:07��██▋                          | 49.5 MB 37.2 MB/s eta 0:00:070:07MB/s eta 0:00:06 0:00:067.2 MB/s eta 0:00:06██▎                        | 64.1 MB 37.2 MB/s eta 0:00:06           | 68.7 MB 37.2 MB/s eta 0:00:06��                       | 73.5 MB 63.1 MB/s eta 0:00:04 | 75.0 MB 63.1 MB/s eta 0:00:04MB 63.1 MB/s eta 0:00:04MB 63.1 MB/s eta 0:00:04��████▏                      | 80.4 MB 63.1 MB/s eta 0:00:04��████▍                      | 83.0 MB 63.1 MB/s eta 0:00:04��████▊                      | 85.1 MB 63.1 MB/s eta 0:00:04��████▉                      | 86.5 MB 63.1 MB/s eta 0:00:04MB 63.1 MB/s eta 0:00:04                     | 92.7 MB 63.1 MB/s eta 0:00:035.7 MB 29.4 MB/s eta 0:00:07|███████████▎                    | 98.8 MB 29.4 MB/s eta 0:00:07�████████▌                    | 101.3 MB 29.4 MB/s eta 0:00:07�████████▉                    | 103.8 MB 29.4 MB/s eta 0:00:07     | 109.9 MB 29.4 MB/s eta 0:00:06�███████████▉                   | 112.8 MB 29.4 MB/s eta 0:00:06           | 115.4 MB 29.4 MB/s eta 0:00:06��████████▍                  | 117.8 MB 29.4 MB/s eta 0:00:06██▌                  | 119.1 MB 29.4 MB/s eta 0:00:06       | 120.6 MB 29.4 MB/s eta 0:00:06.4 MB/s eta 0:00:45 �██████████                 | 131.5 MB 3.4 MB/s eta 0:00:44 ███▋                | 137.4 MB 3.4 MB/s eta 0:00:42 �████████████                | 141.1 MB 3.4 MB/s eta 0:00:41  |████████████████▌               | 144.9 MB 3.4 MB/s eta 0:00:40  |████████████████▋               | 146.4 MB 3.4 MB/s eta 0:00:40 ██████████▉               | 148.4 MB 3.4 MB/s eta 0:00:39 ██████████████▍              | 153.1 MB 63.5 MB/s eta 0:00:03██████▋             | 164.1 MB 63.5 MB/s eta 0:00:02 | 167.1 MB 63.5 MB/s eta 0:00:02|███████████████████▏            | 169.0 MB 63.5 MB/s eta 0:00:02  |███████████████████▍            | 170.6 MB 63.5 MB/s eta 0:00:02    |███████████████████▋            | 172.4 MB 63.5 MB/s eta 0:00:02  | 178.3 MB 63.5 MB/s eta 0:00:02  | 180.8 MB 1.6 MB/s eta 0:01:02   | 181.4 MB 1.6 MB/s eta 0:01:01 ��███████████████████           | 184.2 MB 1.6 MB/s eta 0:01:00  MB 1.6 MB/s eta 0:00:58 ��██          | 194.3 MB 1.6 MB/s eta 0:00:54 ██████▍         | 196.7 MB 1.6 MB/s eta 0:00:52 �██████████████         | 202.0 MB 1.6 MB/s eta 0:00:49 ��        | 204.5 MB 1.6 MB/s eta 0:00:47 B 1.6 MB/s eta 0:00:45 ████▏       | 212.4 MB 1.6 MB/s eta 0:00:43 ��██▎       | 213.6 MB 46.2 MB/s eta 0:00:02�▋       | 216.1 MB 46.2 MB/s eta 0:00:02�███████████████████▊       | 217.4 MB 46.2 MB/s eta 0:00:02█████▉       | 218.5 MB 46.2 MB/s eta 0:00:02██████       | 220.2 MB 46.2 MB/s eta 0:00:02██████▎      | 222.8 MB 46.2 MB/s eta 0:00:02��████████████████▌      | 224.2 MB 46.2 MB/s eta 0:00:02████████████████████████▋      | 225.4 MB 46.2 MB/s eta 0:00:02��████████████████▊      | 226.5 MB 46.2 MB/s eta 0:00:02��████████████████▉      | 227.5 MB 46.2 MB/s eta 0:00:02B/s eta 0:00:02  | 241.0 MB 59.0 MB/s eta 0:00:01�██████████▊    | 243.7 MB 59.0 MB/s eta 0:00:01�████████▉    | 245.0 MB 59.0 MB/s eta 0:00:01| 247.1 MB 59.0 MB/s eta 0:00:01��█████████   | 255.4 MB 59.0 MB/s eta 0:00:01██████  | 264.7 MB 59.0 MB/s eta 0:00:01��█████████████████████████▋ | 268.9 MB 59.0 MB/s eta 0:00:01 |██████████████████████████████▉ | 270.9 MB 20.9 MB/s eta 0:00:01█████▎| 274.9 MB 20.9 MB/s eta 0:00:01 MB 20.9 MB/s eta 0:00:01█████▉| 279.7 MB 20.9 MB/s eta 0:00:01 MB 20.9 MB/s eta 0:00:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.4-py2.py3-none-any.whl size=282040934 sha256=10f65d1879877f06389e164b95dbcb5a0f68a18ec237f59bda781e53d9aae616
  Stored in directory: /home/labuser/.cache/pip/wheels/7f/b5/ab/6fbc298426a10c8a27065ed80da7241e60146d770f41c80b4d
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.2.4

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in ./venv/lib/python3.6/site-packages (3.2.4)
Requirement already satisfied: py4j==0.10.9.5 in ./venv/lib/python3.6/site-packages (from pyspark) (0.10.9.5)

In [9]:
from pyspark.sql import SparkSession

In [11]:
from pyspark.sql.functions import *

In [16]:
spark = SparkSession.builder.appName('GK').getOrCreate()

In [17]:
spark

In [18]:
df1=spark.read.csv('/home/labuser/Downloads/Automobile.csv')

In [21]:
df1

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [22]:
df1.show()

+-----------+-----------+------+------+-------+-------+
|        _c0|        _c1|   _c2|   _c3|    _c4|    _c5|
+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
+-----------+-----------+------+------+-------+-------+

In [24]:
df2=spark.read.option('header','True').csv('/home/labuser/Downloads/Automobile.csv')

In [25]:
df2

DataFrame[company: string, body-style: string, length: string, engine: string, mileage: string, sunroof: string]

In [28]:
print(type(df1))

<class 'pyspark.sql.dataframe.DataFrame'>

In [29]:
print(type(df2))

<class 'pyspark.sql.dataframe.DataFrame'>

In [30]:
df2.show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
+-----------+-----------+------+------+-------+-------+

In [40]:
df2.head()

Row(company='alfa-romero', body-style='convertible', length='168.8', engine='dohc', mileage='21', sunroof='No')

In [39]:
df2.corr()

TypeError: corr() missing 2 required positional arguments: 'col1' and 'col2'

In [41]:
df2.collect()

[Row(company='alfa-romero', body-style='convertible', length='168.8', engine='dohc', mileage='21', sunroof='No'),
 Row(company='alfa-romero', body-style='hatchback', length='171.2', engine='dohc', mileage='19', sunroof='No'),
 Row(company='audi', body-style='sedan', length='176.6', engine='ohc', mileage='24', sunroof='Yes'),
 Row(company='audi', body-style='sedan', length='176.6', engine='None', mileage='18', sunroof='Yes'),
 Row(company='audi', body-style='sedan', length='177.3', engine='ohc', mileage='19', sunroof='Yes'),
 Row(company='audi', body-style='wagon', length='192.7', engine='ohc', mileage='19', sunroof='Yes'),
 Row(company='bmw', body-style='sedan', length='176.8', engine='ohc', mileage='23', sunroof='Yes'),
 Row(company='bmw', body-style='sedan', length='176.8', engine='ohc', mileage='23', sunroof='Yes'),
 Row(company='bmw', body-style='sedan', length='176.8', engine='ohc', mileage='21', sunroof='Yes'),
 Row(company='bmw', body-style='sedan', length='189', engine='ohc', mileage='16', sunroof='Yes'),
 Row(company='bmw', body-style='sedan', length='193.8', engine='ohc', mileage='16', sunroof='Yes'),
 Row(company='bmw', body-style='sedan', length='197', engine='ohc', mileage='15', sunroof='Yes'),
 Row(company='chevrolet', body-style='hatchback', length='141.1', engine='ohc', mileage='47', sunroof='No'),
 Row(company='chevrolet', body-style='hatchback', length='155.9', engine='ohc', mileage='38', sunroof='No'),
 Row(company='chevrolet', body-style='sedan', length='158.8', engine='ohc', mileage='38', sunroof='No'),
 Row(company='dodge', body-style='hatchback', length='157.3', engine='ohc', mileage='31', sunroof='No'),
 Row(company='dodge', body-style='hatchback', length='157.3', engine='ohc', mileage='31', sunroof='No'),
 Row(company='honda', body-style='wagon', length='157.1', engine='ohc', mileage='30', sunroof='No'),
 Row(company='honda', body-style='sedan', length='175.4', engine='ohc', mileage='24', sunroof='No'),
 Row(company='honda', body-style='sedan', length='169.1', engine='ohc', mileage='25', sunroof='No'),
 Row(company='isuzu', body-style='sedan', length='170.7', engine='ohc', mileage='24', sunroof='No'),
 Row(company='isuzu', body-style='sedan', length='155.9', engine='ohc', mileage='38', sunroof='No'),
 Row(company='isuzu', body-style='sedan', length='155.9', engine='ohc', mileage='38', sunroof='No'),
 Row(company='jaguar', body-style='sedan', length='199.6', engine='dohc', mileage='15', sunroof='Yes'),
 Row(company='jaguar', body-style='sedan', length='199.6', engine='dohc', mileage='15', sunroof='Yes'),
 Row(company='jaguar', body-style='sedan', length='191.7', engine='ohcv', mileage='13', sunroof='Yes'),
 Row(company='mazda', body-style='hatchback', length='159.1', engine='ohc', mileage='30', sunroof='Yes'),
 Row(company='mazda', body-style='hatchback', length='159.1', engine='ohc', mileage='31', sunroof='Yes'),
 Row(company='mazda', body-style='hatchback', length='159.1', engine='ohc', mileage='31', sunroof='Yes'),
 Row(company='mazda', body-style='hatchback', length='169', engine='rotor', mileage='17', sunroof='Yes'),
 Row(company='mazda', body-style='sedan', length='175', engine='ohc', mileage='31', sunroof='Yes'),
 Row(company='mercedes-benz', body-style='sedan', length='190.9', engine='ohc', mileage='22', sunroof='Yes'),
 Row(company='mercedes-benz', body-style='wagon', length='190.9', engine='ohc', mileage='22', sunroof='Yes'),
 Row(company='mercedes-benz', body-style='sedan', length='208.1', engine='ohcv', mileage='14', sunroof='Yes'),
 Row(company='mercedes-benz', body-style='hardtop', length='199.2', engine='ohcv', mileage='14', sunroof='Yes'),
 Row(company='mitsubishi', body-style='hatchback', length='157.3', engine='ohc', mileage='37', sunroof='Yes'),
 Row(company='mitsubishi', body-style='hatchback', length='157.3', engine='ohc', mileage='31', sunroof='Yes'),
 Row(company='mitsubishi', body-style='sedan', length='172.4', engine='ohc', mileage='25', sunroof='Yes'),
 Row(company='mitsubishi', body-style='sedan', length='172.4', engine='ohc', mileage='25', sunroof='Yes'),
 Row(company='nissan', body-style='sedan', length='165.3', engine='ohc', mileage='45', sunroof='No'),
 Row(company='nissan', body-style='sedan', length='165.3', engine='ohc', mileage='31', sunroof='No'),
 Row(company='nissan', body-style='sedan', length='165.3', engine='ohc', mileage='31', sunroof='No'),
 Row(company='nissan', body-style='wagon', length='170.2', engine='ohc', mileage='31', sunroof='No'),
 Row(company='nissan', body-style='sedan', length='184.6', engine='ohcv', mileage='19', sunroof='No'),
 Row(company='porsche', body-style='hardtop', length='168.9', engine='ohcf', mileage='17', sunroof='Yes'),
 Row(company='porsche', body-style='convertible', length='168.9', engine='ohcf', mileage='17', sunroof='Yes'),
 Row(company='porsche', body-style='hatchback', length='175.7', engine='dohcv', mileage='17', sunroof='Yes'),
 Row(company='toyota', body-style='hatchback', length='158.7', engine='ohc', mileage='35', sunroof='No'),
 Row(company='toyota', body-style='hatchback', length='158.7', engine='ohc', mileage='31', sunroof='No'),
 Row(company='toyota', body-style='hatchback', length='158.7', engine='ohc', mileage='31', sunroof='No'),
 Row(company='toyota', body-style='wagon', length='169.7', engine='ohc', mileage='31', sunroof='No'),
 Row(company='toyota', body-style='wagon', length='169.7', engine='ohc', mileage='27', sunroof='No'),
 Row(company='toyota', body-style='wagon', length='169.7', engine='ohc', mileage='27', sunroof='No'),
 Row(company='toyota', body-style='wagon', length='187.8', engine='dohc', mileage='19', sunroof='No'),
 Row(company='volkswagen', body-style='sedan', length='171.7', engine='ohc', mileage='37', sunroof='Yes'),
 Row(company='volkswagen', body-style='sedan', length='171.7', engine='ohc', mileage='27', sunroof='Yes'),
 Row(company='volkswagen', body-style='sedan', length='171.7', engine='ohc', mileage='37', sunroof='Yes'),
 Row(company='volkswagen', body-style='sedan', length='171.7', engine='ohc', mileage='26', sunroof='Yes'),
 Row(company='volvo', body-style='sedan', length='188.8', engine='ohc', mileage='23', sunroof='No'),
 Row(company='volvo', body-style='wagon', length='188.8', engine='ohc', mileage='23', sunroof='No')]

In [42]:
df2.head(5)

[Row(company='alfa-romero', body-style='convertible', length='168.8', engine='dohc', mileage='21', sunroof='No'),
 Row(company='alfa-romero', body-style='hatchback', length='171.2', engine='dohc', mileage='19', sunroof='No'),
 Row(company='audi', body-style='sedan', length='176.6', engine='ohc', mileage='24', sunroof='Yes'),
 Row(company='audi', body-style='sedan', length='176.6', engine='None', mileage='18', sunroof='Yes'),
 Row(company='audi', body-style='sedan', length='177.3', engine='ohc', mileage='19', sunroof='Yes')]

In [44]:
df2.tail(5)

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
+-----------+-----------+------+------+-------+-------+

AttributeError: 'NoneType' object has no attribute 'tail'

In [47]:
spark = SparkSession.builder.appName('ltiGK').getOrCreate()

In [51]:
spark