-----------------
# SECTION A: 20 MARKS
--------------

### 1. Create the sigmoid function using numpy. (4 Marks)

**Instructions**: `x` a real number, a vector, or a matrix. 
$$ \text{For } x \in \mathbb{R}^n \text{,     } sigmoid(x) = sigmoid\begin{pmatrix}
    x_1  \\
    x_2  \\
    ...  \\
    x_n  \\
\end{pmatrix} = \begin{pmatrix}
    \frac{1}{1+e^{-x_1}}  \\
    \frac{1}{1+e^{-x_2}}  \\
    ...  \\
    \frac{1}{1+e^{-x_n}}  \\
\end{pmatrix}\ $$

**Expected Output**: 
<table>
    <tr> 
        <td> **sigmoid([2, 5, 6])**</td> 
        <td> array([0.88079708, 0.99330715, 0.99752738]) </td> 
    </tr>
</table>

### 2. Using below array (6 Marks)

a =np.array([3,11,3,3,0,1,14,4,4,5,5,10, 22, -2, -1, 0, -16, -13, -17])

A. How many even positive, positive and negative numbers are there in a given array? (2 Marks)

B. Add 5 to each data point, how many positive numbers would there be in a given array? (1 Mark)

C. If you square each number, what would the new mean and standard deviation be? (1 marks)

D. Find all the unique elements of the array using numpy. (2 Marks)

### 3. Using below datafame answer the below questions (10 marks)

raw_data_1 = {
        
        'subject_id': ['1', '2', '3', '4', '5'],
        
        'first_name': ['Rani', 'anad', 'akil', 'rocky', 'pavan'], 
        
        'last_name': ['k', 'c', 'Ali', 'b', 'c']}

raw_data_2 = {
        
        'subject_id': ['3', '7', '8', '9', '1'],
        
        'first_name': ['bavin', 'navin', 'kavin', 'ravi', 'chandu'], 
        
        'last_name': ['k', 'c', 'y', 'z', 'n']}

raw_data_3 = {
        
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        
        'test_id': [11, 35, 45, 51, 66, 74, 15, 11, 71, 76]}
        
        
A. Create 3 data frames based on the above raw data (2 mark)

B. Assign each dataframe names as dataset1, dataset2, dataset3 respectively(2 mark)

C. Concatenate the dataset1, dataset2 dataframes along rows and along columns.(2 mark)

D. Merge dataset1 and dataset2 on the basis of common subject id (2 Marks)

E. Merge all values in dataset1 and dataset2, on the basis of subject id. Display common and uncommon records of both datasets(2 marks)

---------------
# SECTION B: 20 MARKS
------------

### Data Set Information:

to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc.

In [167]:
# Kindly change the below cells from markdown to code and execute it

import pandas as pd

import csv

with open("dataset.csv","r")as file:
    
    reader=csv.reader(file)

df=pd.read_csv("dataset.csv")

df.head()

### 4. Answer the following questions (6 Marks)

A. Display mean,median and standard deviation  of all available columns in the dataset(3 marks)

B. Display  correlation between columns in a dataset(1 marks)

C. Display counts of non-null values in each the dataset column(1 mark)

D. Display the highest and lowest value in each column (1 marks)

### 5. Answer the following questions (14 Marks)

A. Which was the most-ordered item and What is the quantity ordered?(1 mark)

B. What was the most ordered item in the choice_description column? (1 mark)

C. Create a lambda function and change the type of item price (2 marks)

D. How much was the revenue for the period in the dataset? (2 marks)

E. What is the average revenue amount per order? (2 marks)

F. What was the quantity of the most expensive item ordered? (2 marks)

G.How many times was a Veggie Salad Bowl ordered? (2 mark)

H.How many times did someone order more than one Canned Soda?(2 marks)

------------
# SECTION C: 30 MARKS

-------------------

### 5.  Display the histogram with the average order amount across all orders and also plot the distribution of the items per order(6 marks)?

### 6. Answer the following questions 

A. Find out what people like to order with every other product together in our menu . Write your observation? (Hint: Write combination of products, ordered together) (5 marks)

B. How many products cost more than $11.00? (5 marks)

### 7. Create a plot of the top 5 items bought? (5 marks)

Step1: Create the plot in ascending order and set the title and labels

### 8. Create a scatterplot with the number of items orderered per order price (5 Marks)