# NPV FINAL EXAM

# SECTION A: 20 MARKS

 _________________

### 1.	Write a Program to

A.	Create an array of even integers from 10 to 60 including both. (1 MARKS)

B.	Generate a random number between 1 to 20. (1 MARKS)

C.	Compare the array created in A with the random number created in B and print all the numbers greater than the random     number. (1 MARKS)

D.	Display the sum of first and last element in the array created in Q A. (1 MARKS)

E.	Convert the array (Created in Q A.) into 2-D matrix. (1 MARKS)

#### A.	Create an array of even integers from 10 to 60 including both. (1 MARKS)

#### B.	Generate a random number between 1 to 20.. (1 MARKS)

#### C.	Compare the array created in A with the random number created in B and print all the numbers greater than the random number. (1 MARKS)

#### D.	Display the sum of first and last element in the array created in Q A.. (1 MARKS)

#### E.	 Convert the array (created in Q A.) into 2-D matrix. (1 MARKS))

### 2. Write a Program to



A. Write a code snippet to create a numpy array 25 of random numbers sampled from a standard normal distribution. Display the contents of the array. (1 Marks) 
 
B. Write a code snippet to convert the above array into square matrix.(1 Marks)  
 
C. Write a code snippet to create an identity matrix. And perform multiplication between the array and the identity matrix. (1 Marks) 
 
D. Write a code snippet to generate a matrix containing only positive elements. Store the result set in a variable. (1 Marks)

E. Write a code snippet to join the matrix resulted from Question A and Question C in such a fashion that the rows resulting from Question C should follow the rows resulting from Question A.   (1 Marks)

##### a.Write a code snippet to create a numpy array of 25 random numbers sampled from a standard normal distribution. Display the contents of the array. (1 Marks)

##### b.Write a code snippet to convert the above array into square matrix. (1 Marks)

##### c.Write a code snippet to create an identity matrix. And perform multiplication between the array and the identity matrix. (1 Marks)

##### d.Write a code snippet to calculate sum of diagonal elements in the matrix in Question C. Store the result in a variable. (1 Marks)

##### e. Write a code snippet to join the matrix resulted from Question A and Question C in such a fashion that the rows resulting from Question C should follow the rows resulting from Question A.   (1 Marks)

## 3. Write a Program to

##### a. Write a program to create a dataframe given below and sort the dataframe by Rank (in ascending order)( 2 marks)

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Name</th>
 <th>Rank</th>
 </tr>
 <tr>
 <td>Joy</td>
 <td>115</td>
 </tr>
 <tr>
 <td>Mia</td>
 <td>451</td>
 </tr>
 <tr>
 <td>Karan</td>
 <td>341</td>
 </tr>
 <tr>
 <td>Tom</td>
 <td>84</td>
 </tr>
    
</table>

##### b.Write a program to swap the 1st and 2nd row in a dataframe created in QuestionA. (2 Marks)

##### c. Give the index name as 'ID' in the DataFrame above.( 1 Marks)

### 4. Create a series of 40 random numbers and transform it into a dataframe containing seven columns and five rows (5 MARKS)

-------

# SECTION B: 20 MARKS

------------




### We combined Two datasets in single CSV file and mention below columns belongs to

### **summer Olympics data** 
### **Winter Olympics Data**

 In these two datasets, each entry represents medal won in summer and winter olympics.


* Year
* City  
* Sport
* Discipline
* Athlete
* Country
* Gender
* Event
* Medal

### Dictionary 
*** dataset contains the 'Country', 'Code', 'Population', 'GDP per Capita'

* Country
* Population	
* Code
* GDP per Capita

## Kindly change the below cells from markdown to code and execute it

 _________________

In [9]:
import csv
import pandas as pd
with open("data_set.csv","r")as file:
    
    reader=csv.reader(file)

df=pd.read_csv("data_set.csv")

df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Year.1,...,Discipline.1,Athlete.1,Country.1,Gender.1,Event.1,Medal.1,Country.2,Code,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,1924.0,...,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Afghanistan,AFG,32526562.0,594.323081
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,1924.0,...,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Albania,ALB,2889167.0,3945.217582
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,1924.0,...,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Algeria,ALG,39666519.0,4206.031232
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,1924.0,...,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,American Samoa*,ASA,55538.0,NaN
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,1924.0,...,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Andorra,AND,70473.0,NaN

In [10]:
summer= df.iloc[:, :9]
summer.head(1)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold

In [11]:
winter= df.iloc[:,9:18]
winter.head()

,Year.1,City.1,Sport.1,Discipline.1,Athlete.1,Country.1,Gender.1,Event.1,Medal.1
0,1924.0,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924.0,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924.0,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924.0,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924.0,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [12]:
dictionary= df.iloc[:,18:]
dictionary.head()

         Country.2 Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

### 5.	Read the dataset  and understand the dataset description given below


A.Concat Summer and Winter (one row for each Medal awarded in any Olympic Games) and save the merged DataFrame in olympics. (10 marks)

           1. An additional column (e.g. "Edition") shall indicate the Edition -> Summer or Winter.
           
             
B.	Create a aggregated and merged DataFrame with Top 50 Countries which includes the Column 'Total_Games' showing the __number of Participations by each country(as an approximation: determine the number of Editions where Countries have won at least one medal).(10 Marks)

### A. Concat Summer and Winter (one row for each Medal awarded in any Olympic Games) and save the merged DataFrame in olympics. (10 marks)

           1. Create an additional column (e.g. "Edition") which will indicate the Edition -> Summer or Winter.

##### B. Create a aggregated and merged DataFrame with Top 50 Countries which includes the Column 'Total_Games' showing the __number of Participations by each country(as an approximation: determine the number of Editions where Countries have won at least one medal).(10 Marks)

# SECTION C: 30 MARKS

----------------------

### 6.  Answer the below questions (30 Marks)

A.	Consider the year 1976 and create a DataFrame displaying the Gold, Silver and Bronze medal won by top 10 countries. (5 MARKS) 

B.	Create columns first_name and last_name from column 'Athlete'. Add them to the data frame. Find the 5 most common name. (4 MARKS)

C.	Display the name of the Country and medals won by each country with each progressing year (3 MARKS)

D.	Consider the winter dataset. Plot the count of 'Gold', 'Silver' and 'Bronze' medals won by Male and females(3 Marks)

E.	Which country won highest medals. Display the medal count. (3 MARK)

 F.	Create a Seaborn Heatmap that shows the Ranks of Top 20 Countries by Sports.(6MARKS)

 G.	 Create a table for Countries with Total Medals  Men, Women Display the data only when Women won more medals than men. How many such countries are there. (6 MARKS)

#### A.	Consider the year 1976 and create a DataFrame diplaying the Gold, Silver and Bronze medal won by top 10 countries. (5 MARKS)

#### B.	Create columns first_name and last_name from column 'Athlete'. Add them to the data frame. Find the 5 most common name. (4 MARKS)

#### C.	Display the name of the Country and medals won by each country with each progressing year (3 MARKS)


#### D.	Consider the winter dataset. Plot the count of 'Gold', 'Silver' and 'Bronze' medals won by Male and females(3 Marks)

#### E.	Which country won highest medals. Display the medal count. (3 MARK)


#### F.	Create a Seaborn Heatmap that shows the Ranks of Top 20 Countries by Sports.(6MARKS)


#### G.	 Create a table for Countries with Total Medals in Summer Games Medals, Winter Games Medals, Men, Women). (6 MARKS)