In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

-------
# Section A: 20 Marks
-----------

### 1. Write a program for  (Marks : 20)


Record 1 :

|    Item    |           |Store_1|  |Store_2|
|------  | ----------|-----|  |-----|
|Chayote|    |52.0|  |N/A|
|Fuyu Persimmon|  |34.0|  |67.0|
|Durian|      |67.0|  |N/A|
|Pomelo|      |21.0|  |N/A|
|Starfruit|      |N/A|  |N/A|

Record 2 :

|    Item    |           |Store_2|
|------  | ----------|-----|
|Durian|    |32.0|

Above DataFrames show the Item sold in different stores. `Item` shows the fruit names,`Store_1` shows the weight of item sold in `Store_1`,`Store_2` shows the weight of item sold in `Store_2`.

a.Prepare two dataframes `Record_1` & `Record_2` (Marks 2)

b.Update the data of `Record_2` in `Record_1` along the`Item` name to get the sales of all the items in one dataframe. (Marks 2)

c.

Record 3 :

|    Item    |           |Store_3|
|------  | ----------|-----|
|Pomelo|      |N/A|
|Durian|      |29.0|
|Starfruit|      |N/A|
Fuyu Persimmon|  |22.0
|Chayote|    |78.0|

The recod shows Item sold in a new shop.`Item` shows the fruit names,`Store_3` shows the weight of item sold in `Store_3`.
Create a dataframe `Record_3` as shown above.
Update the data of `Record_3` in the new `Record_1` corresponding to the`Item` name to get the sales of all the items in one dataframe. (Marks 2+2 = 4)


d.Prepare a table that shows count for the `Item` which has not been sold in the corresponding Stores.(Marks 3)

e.Add a column that will show rank of the Items based on the total sale achieved.Do not consider Items which were not sold in atleast two of the  Stores.Exclude those Items from the table and store their information in a different dataframe. (Marks 3 + 2 = 5)

f.Visualize Sales in each store corresponding to each fruit.Make sure data corresponding to each fruit is represented by a different colour.(Marks 4)

##### a.Prepare two dataframes `Record_1` & `Record_2` (Marks 2)

##### b.Update the data of `Record_2` in `Record_1` along the`Item` name to get the sales of all the items in one dataframe. (Marks 2)

##### c.
Record 3 :

|    Item    |           |Store_3|
|------  | ----------|-----|
|Pomelo|      |N/A|
|Durian|      |29.0|
|Starfruit|      |N/A|
Fuyu Persimmon|  |22.0
|Chayote|    |78.0|

The recod shows Item sold in a new shop.`Item` shows the fruit names,`Store_3` shows the weight of item sold in `Store_3`.
Create a dataframe `Record_3` as shown above.
Update the data of `Record_3` in the new `Record_1` corresponding to the`Item` name to get the sales of all the items in one dataframe. (Marks 2+2 = 4)

##### d.Prepare a table that shows count for the `Item` which has not been sold in the corresponding Stores.(Marks 3)

##### e.Add a column that will show rank of the Items based on the total sale achieved.Do not consider Items which were not sold in atleast two of the  Stores.Exclude those Items from the table and store their information in a different dataframe. (Marks 3 + 2 = 5)

##### f.Visualize Sales in each store corresponding to each fruit.Make sure data corresponding to each fruit is represented by a different colour. `.(Marks 4)

-------
# Section B: 20 Marks
-----------

### 2. Write a program for  (Marks : 20)

#### Sales 1:

|   Item     |           |Location|  |Sales|
|------  | ----------|-----|  |-----|
|Chayote<>Popular<>Organic_Store_1|    |India|  |81|
|Chayote<>Popular<>Organic_Store_2|  |India|  |26|
|Durian<>processed_Store|      |India|  |43|
|Fuyu Persimmon<>Organic_Store_3|         |california|  |47|



#### Sales 2:

|    Name    |           |Location|  |Sales|
|------  | ----------|-----|  |-----|
|Durian<>processed_Store|    |France|  |52|
|Durian<>processed_Store_2|  |China|  |48|
|Fuyu Persimmon<>Organic_Store_3|      |China|  |-|
|RPomelo<>Popular<>natural_Store_1|         |california|  |38|

a.Create the dataframes (Marks 2)

b. Apply a mapping and modify the `Item` column  excluding the'_' and subsequent Store number for both the dataframes (Marks 2)


c. Combine the dataframe data to have all the records in a single dataframe(Marks 2)


d. Remove the record where the score is not available (present as `-`)(Marks 2)


e. The Item column contains words seperated by `<>`.The first element or word repersents `the name of the fruit`.The last element represents `Type of the fruit`,either it is `organic` , `processed` or `natural` . The middle element or word repersents the popularity of the fruit.For few fruits it's missing.For example `Durian` and `Fuyu Persimmon`. 

Add three columns to the existing dataframe that will contain `Name of the fruit` , `Popularity of the fruit` & `Type of the fruit`  and name the columns as `Fruit_Name` , `Popularity` & `Product` respectively.

Element the `Item` column after preparing the `Fruit_Name` , `Popularity` & `Product` columns.(Marks 4)

**Sample output :**

|    Fruit_Name    |           |Popularity|  |Product|           |Location|  |Sales|
|------  |           |-----|  |-----|     |-----|  |-----|
|Chayote|    |Popular|  |Organic|    |India|  |81|
|Chayote|  |Popular|  |Organic|  |India|  |26|
|Durian|      | |  |processed|      |India|  |43|



f. If a `Fruit_Name` & `Product` combination is having multiple `Sales` for the same `Location`,consider only the maximum `Sales`.(Marks 4)
**Sample output:**

|Fruit_Name|    |Product|   |Location|  |Sale|
|----------|    |-------|   |--------|  |----|
|Chayote|    |Organic|   |India|  |81|
|Durian|     |processed|   |China|  |48|
|Durian|     |processed|   |France|  |52|



g.As an update about the popularity of the fruits the following table was published by a `Super Market`.

|Fruit_Name|        |Popularity|
|---|        |---|
|Chayote|        |Popular|   
|Fuyu Persimmon|        |Very Popular|
|Pomelo|        |Exotic|

Create the dataframe.

Combine the new dataframe along with the previous dataframe to get a complete information as shown below,(Marks 4 )

**Sample output :**
    
|Fruit_Name|    |Product|   |Popularity|    |Location|  |Sale|
|----------|    |-------|   |----------|    |--------|  |----|
|Chayote|   |Organic|    |Popular|   |India|     |81|
|Durian|    |processed|  |NaN|   |China|    |48|
|Durian|    |processed|  |NaN|    |France|    |52|

##### a.Create the dataframes (Marks 2)

##### b. Apply a mapping and modify the `Item` column  excluding the'_' and subsequent Store number for both the dataframes (Marks 2)

##### c. Combine the dataframe data to have all the records in a single dataframe(Marks 2)

##### d. Remove the record where the score is not available (present as `-`)(Marks 2)

##### e. The Item column contains words seperated by `<>`.The first element or word repersents `the name of the fruit`.The last element represents `Type of the fruit`,either it is `organic` , `processed` or `natural` . The middle element or word repersents the popularity of the fruit.For few fruits it's missing.For example `Durian` and `Fuyu Persimmon`. 

Add three columns to the existing dataframe that will contain `Name of the fruit` , `Popularity of the fruit` & `Type of the fruit`  and name the columns as `Fruit_Name` , `Popularity` & `Product` respectively.

Element the `Item` column after preparing the `Fruit_Name` , `Popularity` & `Product` columns.(Marks 4)

**Sample output :**

|    Fruit_Name    |           |Popularity|  |Product|           |Location|  |Sales|
|------  |           |-----|  |-----|     |-----|  |-----|
|Chayote|    |Popular|  |Organic|    |India|  |81|
|Chayote|  |Popular|  |Organic|  |India|  |26|
|Durian|      | |  |processed|      |India|  |43|

##### f. If a `Fruit_Name` & `Product` combination is having multiple `Sales` for the same `Location`,consider only the maximum `Sales`.(Marks 4)
**Sample output:**

|Fruit_Name|    |Product|   |Location|  |Sale|
|----------|    |-------|   |--------|  |----|
|Chayote|    |Organic|   |India|  |81|
|Durian|     |processed|   |China|  |48|
|Durian|     |processed|   |France|  |52|

##### g.As an update about the popularity of the fruits the following table was published by a `Super Market`.

|Fruit_Name|        |Popularity|
|---|        |---|
|Chayote|        |Popular|   
|Fuyu Persimmon|        |Very Popular|
|Pomelo|        |Exotic|

Create the dataframe.

Combine the new dataframe along with the previous dataframe to get a complete information as shown below,(Marks 4 )

**Sample output :**
    
|Fruit_Name|    |Product|   |Popularity|    |Location|  |Sale|
|----------|    |-------|   |----------|    |--------|  |----|
|Chayote|   |Organic|    |Popular|   |India|     |81|
|Durian|    |processed|  |NaN|   |China|    |48|
|Durian|    |processed|  |NaN|    |France|    |52|

-------
# Section C: 30 Marks
-----------

### 3. Consider the following `NPV.csv` data and provide solution for the following question (Marks : 30)

##### a. What are the number of rows and no. of cols & types of variables (3 Marks)


##### b. Convert the following columns value type into categorical
`ISiF`, `Nqi`, `Ndiq`, `N_de`, `S_Fit`, `N_at`
(3 marks)

##### c. Find the % of observations belong to each category having least observations of the every categorical data.(3 marks)


##### d. Find out the categorical variables,which are  having more than 2 categories and perform following operations.(Marks : 9)

##### Draw barchart for each vaiable.(Marks : 3)
##### Arrange the bar as per the descending order of the height of the bars.(Marks : 3)

##### The categories that have top 25% of the frequency should be coloured in `Blue` & rest should be coloured in `Black`.(Marks : 3)

For example if a categorical column is having 8 categories the categories with highest and second highest frequencies should be coloured in `Blue` and rest should be coloured in `Black`. Corresponding index for `Blue` should be mentioned as `High` and the `Black` as `Low`.

Again if a categorical column is having 17 categories the categories with top 5 bar length should be coloured in `Blue` and rest should be coloured in `Black`. Corresponding index for `Blue` should be mentioned as `High` and the `Black` as `Low`.

##### e. Visualize the relation between the `Viva_Score` & `Written_Score` of the applicants for defferent `Interview_center`  .Comment on your observation. (Marks 4)

##### f. Compare the `Viva_Score` of candidates with different `education level` for different `Gender`.Comment on your observation(at least three).(Marks 4)


##### g. Plot an appropriate diagram to visualise the relationship between `Age` & `LsDp`.Comment on your observation.(Marks 4)

##### a. What are the number of rows and no. of cols & types of variables (3 Marks)

##### b. Convert the following columns value type into categorical
`ISiF`, `Nqi`, `Ndiq`, `N_de`, `S_Fit`, `N_at`
(3 marks)

##### c. Find the % of observations belong to each category having least observations of the every categorical data.(3 marks)

##### d. Find out the categorical variables,which are  having more than 2 categories and perform the following operations(Marks : 9)
##### Draw barchart for each vaiable.(Marks : 1+2=3)
##### Arrange the bar as per the descending order of the height of the bars.(Marks : 3)

The categories that have top 25% of the frequency should be coloured in `Blue` & rest should be coloured in `Black`.(Marks : 3)

For example if a categorical column is having 8 categories the categories with highest and second highest frequencies should be coloured in `Blue` and rest should be coloured in `Black`. Corresponding index for `Blue` should be mentioned as `High` and the `Black` as `Low`.

Again if a categorical column is having 17 categories the categories with top 5 bar length should be coloured in `Blue` and rest should be coloured in `Black`. Corresponding index for `Blue` should be mentioned as `High` and the `Black` as `Low`.

##### e. Visualize the relation between the `Viva_Score` & `Written_Score` of the applicants for defferent `Interview_center`  .Comment on your observation. (Marks 3)

##### f. Compare the `Viva_Score` of candidates with different `education level` for different `Gender`.Comment on your observation(at least three).(Marks 4)

##### g. Plot an appropriate diagram to visualise the relationship between `Age` & `LsDp`.Comment on your observation.(Marks 4)