# INTRODUCTION TO PYTHON FINAL EXAM

# SECTION A: 20 MARKS

 _________________

#### 1. Ram built his own house and was confused about what name he should keep for it. He asked his friend Shyam to help. Shyam suggested a lot of names. Ram has certain conditions for the name:  (5 marks)                                                                                                                      
•	It should consist of exactly three distinct characters, say C1, C2 and C3
•	It should satisfy the criteria that the string was of the form - C1n C2n C3n: This means, first C1 occurs n times, then C2 occurs n times and then C3 occurs n times. For example, xyz, ccaarr, mmmiiiaaa satisfy the criteria, but xyzw, aabbbcccc don't.
Given N names suggested by Shyam, print "OK" if Ram likes the name and "Not OK" if he doesn't.

•	Input:
First-line contains a single positive integer N - the number of names.
N lines follow - each line contains a name.
o	
Output:
For each name, Print "OK" if the name satisfies the criteria, else print "Not OK", on a new line.
Constraints:
1 ≤ N ≤ 100 1 ≤ Length of names ≤ 500
Names contain only lowercase English alphabets

SAMPLE INPUT
2

bbbrrriii

brian

SAMPLE OUTPUT

OK

Not OK

#### 2. You are  working with NASA and suddenly you got an opportunity to travel to the moon. You have to stay there for 15 years.
 
 Exercise1: You have to calculate your weight in kilograms on the moon in a period of 15 years,(3 marks)
 
 Step1: Measure your Weight on the Moon and also create a variable to store it. Assume your starting weight:30
 
● For each year, you can calculate the new weight by adding a kilogram, and then multiplying by 6.5 percent (0.65) to get the weight on the moon:
 
 Exercise2: Create basic Moon Weight Function: The function should take two parameters: current weight:30 and increased weight:0.5 (the amount the weight will increase each year)   (2 marks)
 
 Note: moon_weight = weight * 0.65

#### 3. A famous hotel is maintaining its order history in the dictionary in the given format. Find out which food item is ordered the most (5 Marks)

 order_id: [list of items ordered]
 
 order_history= {165:['Noodles','Tomato Soup','Fries'],168:['Rice Idli','Rawa Dosa','Fries'],190:['Fries','Noodles']}

#### 4. Write a Python program to make a currency converter. The currency converter should be able to convert a specific currency to an appropriate INR (Indian National Rupee) value. (5 MARKS)
 1. USD (U.S Dollars) (1 USD =71.83 INR)
 2. YEN (Japanese YEN)  (1 YEN= 0.66 INR
 3. EURO (1 EURO=79.57 INR) 
 4. U.K. POUND (1 U.K POUND=93.11 INR)
  
 INPUT AND OUTPUT SAMPLE:
 
 Enter the currency which you want to convert. e.g. USD
 
 Enter the value of the currency which you want to convert. e.g. 100
 
 The total converted value is 7183.0

# SECTION B: 20 MARKS

---------------------

#### 5. A Basket of Halloween candy has an unknown amount of candy and you need to guess exactly how much candy is in the bowl. You ask the person in charge a few questions to make a correct guess. If the candy is divided evenly among 5 people, how many pieces would be leftover? The answer is 2 pieces. You then ask about dividing the candy evenly among 6 people, and the amount left over is 3 pieces. Finally, you ask about dividing the candy evenly among 7 people, and the amount left over is 2 pieces. By looking at the bowl, you can tell that there are less than 200 pieces. Write a program to determine how many pieces are in the bowl.             (10 Marks)
    	
   1. SAMPLE INPUT:
If the candy is divided evenly among 5 people, how many pieces would be leftover?
2

If the candy is divided evenly among 6 people, how many pieces would be leftover?
3

If the candy is divided evenly among 7 people, how many pieces would be leftover?
2

  1. SAMPLE OUTPUT:
Number of candies in the jar: 177


  2. SAMPLE INPUT :
If the candy is divided evenly among 5 people, how many pieces would be leftover?
2

If the candy is divided evenly among 6 people, how many pieces would be leftover?
4

If the candy is divided evenly among 7 people, how many pieces would be leftover?
2

  2. SAMPLE OUTPUT :
Number of candies in the jar: 142

#### 6.generated multiplication questions to do. After each, the program should tell them whether they got it right or wrong and what the correct answer is and finally it should display the total score out of 10 scored by a user.(10 marks)                                     For Example: 
 Question 1: 3 x 4 = 12 Right! 
 
 Question 2: 8 x 6 = 44 Wrong. The answer is 48. 
 
 ... 
 
 Question 10: 7 x 7 = 49 
 
 Right.

# SECTION C: 30 MARKS

 _________________

### 7. Write a Python Program to create the following series and then print the nth Prime number from the Series,0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89... (15 Marks)


INPUT:8

OUTPUT:28657

### 8. Write a program that converts Roman numerals into ordinary numbers. Here are the conversions: M=1000, D=500, C=100, L=50, X=10, V=5 I=1. Don’t forget about things like IV being 4 and XL being 40.(15 marks)
 

Integer numbers and their Roman equivalent:

1000 : 'M'

900 : 'CM'

500 : 'D'

400 : 'CD'

100 : 'C'

90 : 'XC'

50 : 'L'

40 : 'XL'

10 : 'X'

9 : 'IX'

5 : 'V'

4: 'IV'

1: 'I'

SAMPLE INPUT:

Enter number to Convert: 417

SAMPLE OUTPUT:

CDXVII